/* Why Choose Us section */
#why-us h2 {
  font-family: 'Segoe UI', sans-serif;
  color: #2c3e50;
}

#why-us h4 {
  color: #2980b9;
  font-weight: 600;
}

#why-us p {
  font-size: 0.95rem;
}

#why-us {
    margin-bottom: 60px;
}
#portfolio {
    margin-top: 60px;
}

body {
    border: 5px solid red;
}